html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "微軟正黑體";
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
body {
    line-height: 1;
}
main {
    display: block;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font-family: "微軟正黑體";
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}
select,input {
    font-family: "微軟正黑體";
    outline: none;
}
html {
    font-family: "微軟正黑體";
    background: white;
    box-sizing: border-box;
    margin: 0px auto;
    // user-select: none;
}
a:link {
    text-decoration: none;
}

//content
html {
    width: 100%;
    height: 100%;
    background-color: #ffad26;
    
    body {
        min-width: 1100px;
        height: auto;
        overflow: hidden;

        main {
            width: 100%;
            height: 1000px;
            overflow: hidden;
            position: relative;

            .center {
                width: 1100px;
                height: 100%;
                margin: 0 auto;
                position: relative;

                .top {
                    width: 100%;
                    height: 40%;
                    position: relative;
    
                    .logo {
                        width: 323px;
                        height: 116px;
                        background: url(../img/f8_LOGO.png) no-repeat center;
                        background-size: contain;
                        z-index: 100;
                        position: absolute;
                        top: 181px;
                        left: -15px;
                        opacity: 0;
                        animation: in01 0.2s ease-in forwards;
                    }
    
                    .inputBox {
                        width: auto;
                        height: auto;
                        display: flex;
                        position: absolute;
                        top: 181px;
                        left: 308px;
                        z-index: 100;

                        .input {
                            width: auto;
    
                            label {
                                display: flex;
                                align-items: center;
                                margin: 0 24px 13px 10px;
                                position: relative;

                                p {
                                    color: #ffffff;
                                    font-size: 24px;
                                    font-weight: bold;
                                    letter-spacing: 2px;
                                    margin: 0 20px 0 0;
                                }

                                &:before {
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 28px 0 28px 25px;
                                    border-color: transparent transparent transparent #ff9c22;
                                    position: absolute;
                                    top: -5px;
                                    left: -4px;
                                    z-index: 5;
                                }

                                .lineDeco {
                                    width: 29px;
                                    height: 2px;
                                    background: #ffffff;
                                    transform: rotate(48deg);
                                    position: absolute;
                                    top: 11px;
                                    left: -2px;
                                    z-index: 3;
                                }

                                .lineDeco2 {
                                    width: 29px;
                                    height: 2px;
                                    background: #ffffff;
                                    transform: rotate(-48deg);
                                    position: absolute;
                                    top: 32px;
                                    left: -1px;
                                    z-index: 3;
                                }

                                .lineDeco3 {
                                    width: 29px;
                                    height: 2px;
                                    background: #ffffff;
                                    transform: rotate(46deg);
                                    position: absolute;
                                    top: 11px;
                                    right: 1px;
                                    z-index: 3;
                                }

                                .lineDeco4 {
                                    width: 30px;
                                    height: 2px;
                                    background: #ffffff;
                                    transform: rotate(-46deg);
                                    position: absolute;
                                    top: 32px;
                                    right: 1px;
                                    z-index: 3;
                                }
    
                                input {
                                    width: 254px;
                                    height: 45px;
                                    background:  linear-gradient(0deg, #d7d7d7 0%, #e8ebee 25%, #e8ebee 60%, #cacecf 100%);
                                    border: 2px solid #ffffff;
                                    color: #000000;
                                    font-size: 22px;
                                    padding: 0 25px 0 55px;
                                    box-sizing: border-box;
                                    box-shadow: 0px 2px 8px rgb(0, 0, 0, 20%);
                                    position: relative;

                                    &::placeholder {
                                        color: #f08d25;
                                        font-size: 20px;
                                    }
                                }
    
                                &:last-child {
                                    margin:  0 20px 0 10px;
                                }

                                .inputIcon {
                                    width: 19px;
                                    height: 22px;
                                    background: url(../img/inputIcon.png) no-repeat;
                                    background-size: 200%;
                                    position: absolute;
                                    top: 11px;
                                    left: 29px;

                                    &.id {
                                        background-position-x: 0%;
                                    }
                                    &.pw {
                                        background-position-x: 100%;
                                    }
                                }

                                .inputDeco3 {
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 35px 35px 0;
                                    border-color: transparent #ff9c22 transparent transparent;
                                    position: absolute;
                                    top: -2px;
                                    right: -7px;
                                }

                                .inputDeco4 {
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 0 35px 35px;
                                    border-color: transparent transparent #ff9c22 transparent;
                                    position: absolute;
                                    top: 15px;
                                    right: -3px;
                                }
                            }
                        }
    
                        button {
                            width: 115px;
                            height: 115px;
                            background: linear-gradient(-45deg, #d7d7d7 0%, #ffffff 100%);
                            border: 4px solid #ffffff;
                            transform: rotate(45deg);
                            margin: -11px 0 0 -15px;
                            position: relative;

                            &::before {
                                content: "登 入";
                                color: #d97c0f;
                                font-size: 30px;
                                font-weight: bolder;
                                transform: rotate(-45deg);
                                position: absolute;
                                top: 34px;
                                left: 19px;
                            }
    
                            &:hover,&:active,&.active {
                                background: #ca0303;
                                text-shadow: 0px -0px 5px rgb(255, 255, 255, 90%);
                                box-shadow: 2px 2px 15px rgb(0, 0, 0, 40%);
                                transition: 0.1s;

                                &::before {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
    
                    .unionLogo {
                        width: 243px;
                        height: 43px;
                        background: url(../img/union.png) no-repeat center;
                        background-size: contain;
                        position: absolute;
                        top: 293px;
                        left: 322px;
                        z-index: 100;
                    }
                }
                
                .bottom {
                    width: 100%;
                    height: 60%;
                    position: relative;
    
                    .mainObject {
                        width: 1300px;
                        height: 605px;
                        background: url(../img/f8_car.png) no-repeat;
                        background-size: contain;
                        position: absolute;
                        bottom: 0;
                        right: -178px;
                        z-index: 4;
                        opacity: 1;
                        animation: showIn 0.5s ease-in forwards;
                    }
                }
            }

            //背景
            .bg {
                width: 100%;
                min-width: 1100px;
                height: 100%;
                background: url(../img/f8_bg.png) no-repeat top center;
                position: absolute;
                top: 0;
                z-index: -999;
            }
        }
    }
}

@keyframes in01 {
    0% {
        left: -1000px;
        opacity: 0;
    }
    100% {
        left: -15px;
        opacity: 1;
    }
}

@keyframes showIn {
    0% {
        bottom: 11px;
        right: -1000px;
        opacity: 0;
    }

    30% {
        bottom: 20px;
        right: 80px;
        transform: scale(0.3);
        filter: blur(15px);
        opacity: 1;
    }
    55% {
        bottom: 11px;
        right: -900px;
        transform: scale(0.5);
        filter: blur(2px);
        opacity: 1;
    }
    60% {
        bottom: 20px;
        right: -2000px;
        transform: scale(0.7);
        filter: blur(2px);
        opacity: 1;
    }

    100% {
        bottom: 0px;
        right: -178px;
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}

